html,
body {
  margin: 0;
  padding: 0;
  border: 0;
}

.snap-content {
  position: relative;
  z-index: 2;
  -webkit-transform: translate3d(0, 0, 0);
  width: auto;
  height: auto;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  -moz-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

@media (min-width: 980px) {
  .cwt-app .snap-content {
    position: absolute;
    z-index: 2;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.cwt-app.lt-ie9 .snap-content {
  position: absolute;
  z-index: 2;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

@media print {
  .cwt-app .snap-content {
    position: static;
  }
}

.cwt-app.lt-ie9.print-mode .snap-content {
  position: static;
}

.snap-drawers {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: auto;
  height: auto;
}

.snap-drawer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: auto;
  right: auto;
  width: 265px;
  height: auto;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  -moz-transition: width 0.3s ease;
  -o-transition: width 0.3s ease;
  -webkit-transition: width 0.3s ease;
  transition: width 0.3s ease;
  display: none;
}

.snap-drawer-left {
  z-index: 1;
  left: 0;
}

.snap-drawer-right {
  z-index: 1;
  right: 0;
}

.snapjs-left .snap-drawer-left,
.snapjs-right .snap-drawer-right {
  display: inherit;
}

.snapjs-expand-left .snap-drawer-left,
.snapjs-expand-right .snap-drawer-right {
  width: 100%;
}