//
// @import "cwt-common";
//

html, body {
	@include clear-box;
}

.snap-content {
	@include relative(2);
	@include cwt-size(auto, auto);
	@include overflow-scroll;
	@include translate3d(0, 0, 0);
}

// .snap-content nested and repeated to correctly
// implement $root: false, there is no other way,
// currently, to do this without repeating .snap-content
.cwt-app {
	@include at-non-mobile($root: false) {
		.snap-content {
			@include absolute(2, 0, 0, 0, 0);
		}
	}
	@include at-print($root: false) {
		.snap-content {
			position: static;
		}
	}
}

.snap-drawers {
	@include absolute(null, 0, 0, 0, 0);
	@include cwt-size(auto, auto);
}

.snap-drawer {
	@include absolute(null, 0, auto, 0, auto);
	@include cwt-size(265px, auto);
	@include overflow-scroll;
	@include transition(width 0.3s ease);
	display: none;
}

.snap-drawer-left {
	@include position(1, null, null, null, 0);
}

.snap-drawer-right {
	@include position(1, null, 0, null, null);
}

.snapjs-left .snap-drawer-left,
.snapjs-right .snap-drawer-right {
	display: inherit;
}

.snapjs-expand-left .snap-drawer-left,
.snapjs-expand-right .snap-drawer-right {
	@include cwt-size(100%, null);
}